.form-login{
	padding: 20px;
}

body{
	font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a:hover, a:focus{
	color: #216a94;
    text-decoration: none;
}

h5{
	font-weight: 500;
}